.header {
    /* height: 180px; */
    display: flex;
    padding: 2rem 2rem 0 2rem;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    /* height: 58px; */
    width: 207px;
}

@media screen and (max-width: 450px) {
    .header {
        height: 120px;
    }
    .logo {
        width: 150px;
    }
    .logo img {
        height: 60px;
    }
}