.header {
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 160px;
}

@media screen and (max-width: 450px) {
    .header {
        height: 120px;
    }
    .logo {
        width: 150px;
    }
    .logo img {
        height: 100px;
    }
}