.nav-bar-container{
    position: fixed;
    width: 100%;
    background : var(--background-color);
    z-index: 99999;
}
.header {
    /* height: 180px; */
    display: flex;
    padding: .5rem 0;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.logo img {
    /* height: 58px; */
    width: 207px;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
   .logo img{
       width: 100px;
   }
   .header{
       align-items: flex-start;
       padding: 2rem 0.6rem 0 1rem;
   }
   .nav-bar-container{
        position: relative;
        width: 100%;
        background : rgba(0, 0, 0, 0);
        z-index: 99999;
    }
}