<div class="footer-component-wrapper">
    <div class="divider">

    </div>
    <div class="body">
        <div class="site-logo">
            <span class="text">
                ANTELOPEDAO
            </span>
            <img src="../../assets/images/Antelope DAO.png" alt="">
        </div>
        <div class="site-map">
            <ul>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Foundation</a>
                </li>
            </ul>
        </div>
        <div class="site-map">
            <ul>
                <li>
                    <a href="">Litepaper</a>
                </li>
                <li>
                    <a href="">Token</a>
                </li>
            </ul>
        </div>
        <div class="community">
            <div class="title">
                <span>
                    Join Waitlist
                </span>
            </div>
            <div class="title">
                <span>
                    Join our Community
                </span>
            </div>
            <div class="icons">
                <a href="javascript:void(0)"> <img src="assets/images/SVG/discord.svg" id="discord"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/telegram 3d 4.png" id="telegram"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/facebook.svg" id="facebook">  </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/instagram.svg" id="instagram"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/twitter.svg" id="twitter"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/youtube.svg" id="youtube"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/reddit 2.png" id="reddit"> </a>
            </div>
        </div>  
    </div>
</div>