.wave{
    margin: 0;
}
.footer-component-wrapper{
    max-width: 1100px;
    margin: auto;
}
.divider{
    background: var(--background-color);
    height: 1px;
    /* border: 1px solid #FBFBFD; */
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.45), 4px 4px 8px rgba(0, 0, 0, 0.25);
    transform: rotate(0.04deg);
    margin-bottom: 3rem;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 2rem 0;
}
.site-logo{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.site-logo img{
    width: 13.5rem;
    height: 5.6rem;
    margin: 0 0 1rem 0;
}
.site-logo span{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-x-small);
    /* line-height: 180%; */
    /* or 43px */

    letter-spacing: 0.015em;

    color: var(--secondary-color);
}
.site-map li{
    list-style: none;
    margin-bottom: 1.2rem;
}
.site-map a{
    font-family: var(--secondary-font);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-small);
    /* line-height: 180%; */
    /* or 43px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.015em;

    color: var(--secondary-color);
}
.title span{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-small);
    line-height: 160%;
    /* or 43px */
    
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.015em;
    margin-bottom: 1rem;
    color: var(--secondary-color);    
}
.icons{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.icons img:hover{
    cursor: pointer;
    background: var(--background-color);
    box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(62, 71, 81, 0.1);
    border-radius: 50%;
}
.icons img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    padding: auto;
}
.icons img#facebook{
    height: 1.8rem;
    width: 1.8rem;
}
.icons img#instagram{
    height: 1.8rem;
    width: 1.8rem;
}
.icons img#reddit{
    height: 2rem;
    width: 2rem;
}
.icons img#twitter{
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width : 450px) {
    .footer-component-wrapper{
        max-width: 320px;
        margin-bottom: 0.5rem;
    }
    .site-logo .text{
        font-size: 6px;
    }
    .site-logo img{
        height: 35px;
        width: 35px;
    }
    .site-map li{
        margin-bottom: 0.5rem;
    }
    .site-map a{
        font-size: 6px;
    }
    .title span{
        font-size: 6px;
        margin-bottom: 0.2rem;
    }
    .icons {
        margin-top: 0.5rem;
    }
    .icons img{
        height: 7px;
        width: 7px;
        margin: 0 0.2rem 0 0;
    }
    .icons img#facebook{
        height: 7px;
        width: 7px;
    }
    .icons img#instagram{
        height: 7px;
        width: 7px;
    }
    .icons img#reddit{
        height: 7px;
        width: 7px;
    }
    .icons img#twitter{
        height: 7px;
        width: 7px;
    }
}