<div class="footer-component-wrapper">
    <div class="resource-wrapper  " animateOnScroll animationName="animated fadeInLeft">
        <div class="title">
            RESOURCES
        </div>
        <div class="links">
            <a href="#">Whitepaper</a>
            <a href="#">FAQ's</a>
            <a href="#">Glossary</a>
            <a href="#">Brand Assets</a>
            <a href="#">Feeds</a>
            <a href="#">Service Assets</a>
        </div>
    </div>
    <div class="product-wrapper  " animateOnScroll animationName="animated fadeInLeft">
        <div class="title">
            PRODUCTS/SERVICES
        </div>
        <div class="links">
            <a href="#">Ecosystem</a>
            <a href="#">Platform</a>
            <a href="#">Marketplace</a>
        </div>
    </div>
    <div class="developer-wrapper  " animateOnScroll animationName="animated fadeInLeft">
        <div class="title">
            DEVELOPERS
        </div>
        <div class="links">
            <a href="#">Documentation</a>
            <a href="#">Developer Guides</a>
        </div>
    </div>
    <div class="foundation-wrapper  " animateOnScroll animationName="animated fadeInLeft">
        <div class="title">
            FOUNDATION
        </div>
        <div class="links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <div class="socials-wrapper    " animateOnScroll animationName="animated fadeInRight">
        <button class="newsletter-signup">SIGN UP FOR NEWSLETTER</button>
        <app-social-links class="social-links-container"></app-social-links>
    </div>
</div>