<!-- <div class="wave">
    <img src="../../assets/images/wave.gif" alt="">
</div> -->
<div class="footer-component-wrapper">
    <div class="divider">

    </div>
    <div class="body">
        <div class="site-logo">
            <img src="../../assets/images/SVG/footer-logo.png" alt="">
            <p>
                An Inclusive, Decentralised Ecosystem for
                End-to-End Supply Chain Management &
                Trade Finance
            </p>
        </div>
        <div class="site-map">
            <ul>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
                <li>
                    <a routerLink="">Foundation</a>
                </li>
            </ul>
        </div>
        <div class="site-map">
            <ul>
                <li>
                    <a routerLink="">Litepaper</a>
                </li>
                <li>
                    <a routerLink="/token">Token</a>
                </li>
            </ul>
        </div>
        <div class="community">
            <div class="title">
                <h6>
                    
                    <a href="">Join Waitlist</a>
                </h6>
            </div>
            <div class="title">
                <h6>
                    <a href="">Join our Community</a>
                </h6>
            </div>
            <div class="icons">
                <a href="javascript:void(0)"> <img src="assets/images/SVG/discord.svg" id="discord"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/telegram 3d 4.png" id="telegram"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/facebook.svg" id="facebook">  </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/instagram.svg" id="instagram"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/twitter.svg" id="twitter"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/youtube.svg" id="youtube"> </a>
                <a href="javascript:void(0)"> <img src="assets/images/SVG/reddit 2.png" id="reddit"> </a>
            </div>
        </div>  
    </div>
</div>