.wave{
    margin: 0;
}
.footer-component-wrapper{
    max-width: 1300px;
    margin: auto;
}
.divider{
    background: var(--background-color);
    height: 1px;
    /* border: 1px solid #FBFBFD; */
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.45), 4px 4px 8px rgba(0, 0, 0, 0.25);
    transform: rotate(0.04deg);
    margin: 4rem 0 3rem 0;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 2rem 0;
}
.site-logo{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.site-logo img{
    width: 217px;
    height: 89px;
    margin: 0 0 1rem 0;
}
.site-logo p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    width: 90%;
    /* or 43px */

    letter-spacing: 0.015em;

    color: var(--secondary-color);
}
.site-map ul{
    padding: 0;
}
.site-map li{
    list-style: none;
    margin-bottom: 1.2rem;
}
.site-map a:hover{
    color: var(--primary-color);
}
.site-map a{
    font-family: var(--secondary-font);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-small);
    /* line-height: 180%; */
    /* or 43px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.015em;

    color: var(--secondary-color);
}
.title h6{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-small);
    line-height: 160%;
    /* or 43px */
    
    align-items: center;
    text-align: justify;
    letter-spacing: 0.015em;
    text-decoration: none;   
    margin-bottom: 1rem;
}
.title a{
    color: var(--secondary-color); 
    text-decoration: none;
}
.title a:hover{
    color: var(--primary-color);
}
.icons{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.icons img:hover{
    cursor: pointer;
    background: var(--background-color);
    box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(62, 71, 81, 0.1);
    border-radius: 50%;
}
.icons img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
    padding: auto;
}
.icons img#facebook{
    height: 1.8rem;
    width: 1.8rem;
}
.icons img#instagram{
    height: 1.8rem;
    width: 1.8rem;
}
.icons img#reddit{
    height: 2rem;
    width: 2rem;
}
.icons img#twitter{
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width : 450px) {
    .footer-component-wrapper{
        max-width: 320px;
        margin-bottom: 0.5rem;
    }
    .web{
        display: none;
    }
    .body{
        flex-direction: column;
        align-items: center;
    }
    .site-logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-logo img{
        width: 160px;
        height: 66px;
        margin-bottom: 0.6rem;
    }
    .site-logo span{
        display: none;
    }
    .site-map{
        width: 100%;
    }
    .site-map li{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .site-map a{
        font-size: 14px;
        justify-content: center;
    }
    .site-map ul{
        padding: 0;
    }
    .community{
        text-align: center;
    }
    .title a{
        font-size: 14px;
        margin-bottom: 0;
    }
    .title h6{
        margin : 0;
        text-align: center;
    }
    .icons {
        margin-top: 2rem;
    }
    .icons img{
        margin: 0 0.6rem 0 0;
    }
}