<div class="images-container social-links">
    <!-- <a href="#">
        <img src="assets/images/Linkedin.png">
    </a>
    <a href="#">
        <img src="assets/images/Twitter.png">
    </a>
    <a href="#">
        <img src="assets/images/Discord.png">
    </a>
    <a href="#">
        <img src="assets/images/Reddit.png">
    </a>
    <a href="#">
        <img src="assets/images/Telegram.png">
    </a>
    <a href="#">
        <img src="assets/images/Youtube.png">
    </a> -->
    <a *ngFor="let link of socialLinks" href="{{link.link}}">
        <img src="assets/images/{{link.imageName}}" [ngStyle]="{'margin-right': spacing}">
    </a>
</div>