.images-container {
    margin: 3rem 8rem 3rem 8rem;
    
}
.title{
    text-align: center; 
    margin: 0 0 3.5rem 0;
}
.title span{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    color: #3E4751;
}
.section-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabs-container{
    width: 1157px;
    /* height: 506px; */
    background: #FBFBFD;
    box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(62, 71, 81, 0.3);
    border-radius: 20px;    
    padding: 5rem 4.3rem; 
}
.tabs-container .tab-title{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;

    color: #3E4751;
}
.tab-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-content .desc{
    width: 60%;
}
.tab-content .desc p{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.015em;

    color: #3E4751;
}
.tab-content .image{
    width: 30%;
}

.tab-content .image img{
    width: 100%;
}

.tab-group .tab .label{
    color : #f00;
}