<div class="legacy-container">
    <div class="title-container">
        <span class="title">
            Legacy Problems
        </span>
    </div>
    <div class="tab-container" [class.operations-background]="id === 'operation'" [class.integrations-background]="id === 'integration'">
        <ul class="tab-selectors">
            <li [class.active]="id === 'access'" id="access" (click)="tabChange('access')">Access</li>
            <li [class.active]="id === 'operation'" id="operation" (click)="tabChange('operation')">Operation</li>
            <li [class.active]="id === 'integration'" id="integration" (click)="tabChange('integration')">Integration</li>
        </ul>
        <div class="tab tab-1"  *ngIf="id === 'access'">
            <div class="content">
                <p>
                    Traditional financial institutions raise
                     entry barriers for SMEs and limit their 
                     access to trade capital with complicated 
                     onboarding, exclusive regulations, and 
                     exorbitant costs. De-Fi alternatives are 
                     challenging for traders and investors 
                     due to the following reasons.
                </p>
                <div class="icon-content">
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/access-1.svg" alt="">
                        <span>
                            Information <br> Constraints
                        </span>
                    </div>
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/access-2.svg" alt="">
                        <span>
                            Steep Learning <br> Curves
                        </span>
                    </div>
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/access-3.svg" alt="">
                        <span>
                            Lack of User-Friendly integrated solutions
                        </span>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="../../assets/images/SVG/access.svg" alt="">
            </div>
        </div>

        <div class="tab tab-2" *ngIf="id === 'operation'">
            <div class="content">
                <p>
                    Enterprises face severe accountability 
                    crises while conducting domestic and 
                    international trades, due to inadequate 
                    solutions for shipment tracking and supply 
                    chain monitoring. 
                </p>
                <div class="icon-content">
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/operations-1.svg" alt="">
                        <span>
                            Manipulation Risks
                        </span>
                    </div>
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/operations-2.svg" alt="">
                        <span>
                            Lack of transparency
                        </span>
                    </div>
                    <div class="icon-box">
                        <img src="../../assets/images/SVG/operations-3.svg" alt="">
                        <span>
                            Quality Compromises
                        </span>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="../../assets/images/SVG/operations.svg" alt="">
            </div>
        </div>

        <div class="tab tab-3" *ngIf="id === 'integration'">
            <div class="content content-1">
                <p class="title-text">
                    Fragmented trade and supply chain ecosystem 
                </p>
                <p class="desc-text">
                    This compels stakeholders to use different 
                    solutions for different needs and complicates 
                    business processes leading to low interoperability.
                </p>
            </div>
            <div class="image">
                <img src="../../assets/images/SVG/integrations.svg" alt="">
            </div>
            <div class="content content-2">
                <p class="title-text">
                    Lack of fiat on/off ramps
                </p>
                <p class="desc-text">
                    Absence of frictionless integrations 
                    between conventional and crypto-based 
                    finance is an additional hindrance to cross-border trading.
                </p>
            </div>
        </div>
        
    </div>
</div>
