.about-container{
    max-width: 1240px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title span{
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */

    text-align: center;

    color: #3E4751;
}

.title-sub span{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #FE815F;
    padding: 16 0 0 0;
}
.desc{
    padding: 64px 0 0 0;
}
.desc p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 0.015em;

    color: #3E4751;
}