.bold {
    font-weight: 600;
}

.intro {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 37px;
}

.description {
    max-width: 1000px;
}

.description div {
    margin-top: 35px;
}

.description p {
    margin: 0px;
}

.title-small {
    font-size: 25px;
}

.description-small div {
    margin-top: 20px;
}

.description-small p {
    margin: 0px;
    font-size: 14px;
    margin-top: 1px;
}

.section2 {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    min-height: 400px;
    line-height: 20px;
}

.top-filler {
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.top-filler div {
    background-color: #da7a28;
    width: 75px;
    height: 7px;
    border-radius: 20px;
}

.section2>div {
    width: 50vw;
}

@media screen and (max-width: 750px) {
    .section2 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .section2>div {
        width: 92vw;
    }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height: 300px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container>div {
    width: 500px;
}

.image-cards-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
}

.card p {
    text-align: center;
    font-size: 14px;
}

.card-image-container {
    text-align: center;
}

.bottom-filler {
    height: 200px;
}

@media screen and (max-width: 1015px) {
    .bottom-filler {
        height: 50px;
    }
}

.about-component {
    background-image: url("../../assets/images/Background.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

@media screen and (max-width: 515px) {
    .about-component {
        background-image: none;
    }
}