<div class="about-container">
    <div class="section-1 section">
        <div class="image">
            <img src="../../assets/images/SVG/public&global.svg" alt="">
        </div>
        <div class="description">
            <span class="title">
                Public & Global
            </span>
            <span class="title-sub">
                Breaking Barriers. Widening Access.
            </span>
            <p class="para-1">
                Built on top of public and globally 
                accessible blockchain frameworks like 
                Ethereum and Centrifuge, Antelope lowers 
                entry barriers for SMEs and alternative investors, 
                unlike peers running on exclusive, private, 
                and permissioned networks.
            </p>
            <p class="para-2">
                Besides fostering collaboration and 
                innovation, our inclusive and community-oriented 
                business model is conducive to sustainable growth 
                and enhanced ROIs.                
            </p>
        </div>
    </div>
    <div class="section-2 section">
        <div class="image">
            <img src="../../assets/images/SVG/encrypted&secure.png" alt="">
        </div>
        <div class="description">
            <span class="title">
                Encrypted & Secure
            </span>
            <span class="title-sub">
                Prioritizing Privacy. Respecting Autonomy.
            </span>
            <p class="para-1">
                Leveraging advanced homomorphic cryptography 
                and zero-knowledge proofs, Antelope prioritizes 
                the individual’s right to privacy, autonomy, and 
                choice while securing network communication and 
                retaining optimal verifiability for legitimate 
                regulatory compliance. 
            </p>
            <p class="para-2">
                Encrypted and peer-to-peer channels protect 
                sensitive business information in transit and 
                distributed storage minimizes risks concerning 
                breach and loss of data.             
            </p>
        </div>
    </div>
</div>