<div class="about-container">
    <div class="title">
        <span>
            The Antelope DAO
        </span>
    </div>
    <div class="title-sub">
        <span>
            A Decentralized Foundation 
        </span>
    </div>
    <div class="desc">
        <p>
            SMEs contribute substantiallyto the global economic growth, 
            but legacy systems pave thorny roads for such entities through 
            unequitable barriers and regulatory norms. Similarly, the traditional 
            Trade & Logistics domain is not conducive to alternative investors, 
            especially those indulging in crypto.
        </p>
        <p>
            Antelope DAO embarks on a mission to disrupt this scenario, striving to 
            establish a decentralized, trustless, and automated ecosystem for traders 
            and financiers across magnitudes. To this end, the foundation has developed 
            the Antelope protocol, benefitting a geographically distributed users’ 
            community and envisioning a future with harmonious connectivity, collaboration, 
            and seamless integration between stakeholders of the global Trade & Logistics sector.
        </p>
    </div>
</div>