.token-asset-container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title h1{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-large);
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #3E4751;
}
.title-sub h1{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-medium);
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;

    color: var(--primary-color);
    margin: 1rem 0 0 0;
}
.icon-cards{
    margin: 1rem 0 0 0;
}
.icon-card .title h1{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-transform: capitalize;
    text-align: left;

    color: var(--primary-color);
}
.icon-cards .row{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}
.icon-card .desc p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-x-small);
    line-height: 145%;
    /* or 26px */

    letter-spacing: 0.015em;

    color: #3E4751;

}
.icon-card{
    width: 47.5%;
    display: flex;
    height: 256px;
    /* width: 645px; */
    align-items: center;
}

.icon-card .image-outer{
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #FBFBFD;
    box-shadow: -11.6015px -11.6015px 23.203px #FFFFFF, 11.6015px 11.6015px 23.203px #F3F3F3, inset -9.28119px -9.28119px 18.5624px #FFFFFF, inset 9.28119px 9.28119px 18.5624px #E0E1E3;
}
.icon-card .content{
    height: 256px;
    width: 320px;
    background: #FBFBFD;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 0 0 0 135px;
    padding: 0 25px 0 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 60%; */
}
.icon-card .image-outer .image{
    display: flex;
    align-items: center;
    justify-content: center;
    background : #FBFBFD;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.icon-card .image-outer .image img{
    width: 134px;
    height: 134px;
}