<!-- <nav>
    <ul>
      <li><a routerLink="/first-component" routerLinkActive="active" class="selected">Home</a></li>
      <li><a (click)="scrollToElement('about')" routerLinkActive="active">About</a></li>
      <li><a (click)="scrollToElement('ruler-token')" routerLinkActive="active">Token</a></li>
      <li><a (click)="scrollToElement('engineering')" routerLinkActive="active">Engineering</a></li>
      <li><a (click)="scrollToElement('team')" routerLinkActive="active">Team</a></li>
      <li><a (click)="scrollToElement('community')" routerLinkActive="active">Community</a></li>
    </ul>
  </nav> -->

<div class="topnav" id="myTopnav">
    <a routerLink="/first-component" routerLinkActive="active" class="active">Home</a>
    <a (click)="scrollToElement('about')" routerLinkActive="active">About US</a>
    <a (click)="scrollToElement('ruler-token')" routerLinkActive="active">Token</a>
    <a (click)="scrollToElement('engineering')" routerLinkActive="active">Engineering</a>
    <!-- <a (click)="scrollToElement('team')" routerLinkActive="active">Team</a> -->
    <a (click)="scrollToElement('community')" routerLinkActive="active">Community</a>
    <a href="javascript:void(0);" class="language" onclick="myFunction()">
        <img src="assets/images/SVG/language-icon.svg">
    </a>
    <a href="javascript:void(0);" class="burger" onclick="myFunction()">
        <img src="assets/images/SVG/burger-icon.svg">
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>