/* nav{
    padding: 15px;
    padding-right: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 500px;
    justify-content: space-between;
    cursor: pointer;
}

nav a {
    color: #da7a27;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #eeb27d;
    color: white;
}

a.selected {
    background-color:#e26d08;
    color: white !important;
} */

.topnav {
    overflow: hidden;
}

.topnav a {
    color: #F88340;
    outline: none;
    font-weight: 400;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
}

.topnav a:hover {
    background: #FBFBFD;
    box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(62, 71, 81, 0.1);
    border-radius: 40px;
}

.topnav a.active {
    background: #FBFBFD;
    box-shadow: inset -10px -10px 20px #FFFFFF, inset 10px 10px 20px rgba(62, 71, 81, 0.1);
    border-radius: 40px;
}
.topnav .language img{
    width: 17px;
    height: 17px;
}
.topnav .burger img{
    width: 36px;
    height: 13px;
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 920px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 920px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a:not(:first-child) {
        background-color: rgb(239 235 227);
    }
    .topnav.responsive a:hover {
        background-color: #eeb27d;
        color: white;
    }
}