@font-face {
    font-family: Lucida-Grande;
    src: url('../../assets/fonts/LucidaGrande.ttf');
}
.ecosystem{
    margin: 8rem 0 8rem 0;
    /* height: 100vh; */
    background: url('../../assets/images/SVG/ecosystem-background.svg') no-repeat;
    background-position: 55% top;
}
.originators{
    margin-left: 8rem;
    max-width: 1240px;
    width: 50%;
    display: flex;
    background: #FBFAF9;
    box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
    border-radius: 1rem;
    padding: 1rem 0 1rem 2rem;
    /* margin-bottom: 8rem; */
}
.originators .content{
    width: 78%;
}
.originators .image{
    width: 22%;
    margin-top: -7rem;
}
.originators .image img{
    width: 16rem;
    height: 12rem;
}
.originators .content .title{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 145%;
    /* or 58px */

    letter-spacing: 0.015em;

    color: #F47A1B;
}
.originators .content p{
    margin-top : 0.5rem;
    font-family: Lucida-Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: #3E4751;

    opacity: 0.8;
}
.btc-image{
    margin-top: -8rem;
    display: flex;
    justify-content: flex-end;
}
.middle-section{
    margin: -5rem 0 6rem 0;
    display: flex;
    justify-content: space-between;
}
.section-heading{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    background: #FBFAF9;
    box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
    border-radius: 0 88px 88px 0;
    padding: 2rem 2rem 2rem 0;
}
.section-heading .section-title{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-align: right;

    color: #3E4751;
}
.section-heading img{
    padding-left: 4rem;
    width: 10.5rem;
    height: 11rem;
}

.liquidity-providors{
    width: 30%;
    margin-right: 2rem;
    background: #FBFAF9;
    box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
    border-radius: 15px;
    padding: 2rem 1rem 1.5rem 2rem;
}

.liquidity-providors .content .title{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 145%;
    /* or 58px */

    letter-spacing: 0.015em;

    color: #F47A1B;
}

.liquidity-providors .content p{
    font-family: Lucida-Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: #3E4751;

    opacity: 0.8;
}

.service-institutions{
    max-width: 1240px;
    margin: 0 0 0 8rem;
    width: 50%;
    background: #FBFAF9;
    box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
    border-radius: 15px;
    padding: 2.5rem 0 1rem 2rem 
}

.service-institutions .content .title{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 145%;
    /* identical to box height, or 58px */

    letter-spacing: 0.015em;

    color: #F47A1B;
}

.service-institutions .content p{
    width: 82%;
    font-family: Lucida-Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: #3E4751;

    opacity: 0.8;
}