@font-face {
    font-family: Lucida-Grande;
    src: url('../../assets/fonts/LucidaGrande.ttf');
}
.ecosystem{
    margin: 8rem 0 8rem 0;
    /* height: 100vh; */
    background: url('../../assets/images/SVG/ecosystem-background.svg') no-repeat;
    background-position: 55% top;
}
.originators{
    margin-left: 14rem;
    max-width: 1240px;
    width: 32.75%;
    display: flex;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 1rem 0 1rem 2rem;
    /* margin-bottom: 8rem; */
}
.originators .content{
    width: 85%;
}
.originators .image{
    width: 15%;
    margin: -5rem 0 0 0;
}
.originators .image img{
    width: 12rem;
    height: 9.8rem;
}
.originators .content .title{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 145%;
    /* or 58px */

    letter-spacing: 0.015em;

    color: var(--primary-color);
}
.originators .content p{
    margin-top : 0.5rem;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 11.38px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: var(--secondary-color);

    opacity: 0.8;
}


.middle-section{
    margin: 4rem 10rem 4rem 0;
    display: flex;
    justify-content: space-between;
}
.section-heading{
    width: 52%;
    display: flex;
    justify-content: flex-end;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 0 88px 88px 0;
    padding: 2rem 2rem 2rem 0;
}
.section-heading .section-title{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 48.7px;
    line-height: 73px;
    text-align: right;

    color: var(--secondary-color);
}
.section-heading .image{
    width: 30%;
}
.section-heading img{
    margin: -6rem 0 0 0;
    position: absolute;
    padding-left: 4rem;
    width: 12.2rem;
    height: 20.5rem;
}

.liquidity-providors{
    width: 37%;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 2rem 1rem 1.5rem 2rem;
    display: flex;
}
.liquidity-providors .content{
    width: 90%;
}
.liquidity-providors .image{
    margin: -8rem 0 0 20rem;
    position: absolute;
}
.liquidity-providors .image img{
    width: 11.3rem;
    height: 8rem;
}
.liquidity-providors .content .title{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 32.52px;
    line-height: 145%;
    /* or 58px */

    letter-spacing: 0.015em;

    color: var(--primary-color);
}

.liquidity-providors .content p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 11.38px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: var(--secondary-color);

    opacity: 0.8;
}

.service-institutions{
    max-width: 1240px;
    margin: 0 0 0 14rem;
    width: 32.75%;
    display: flex;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 2.5rem 0 1rem 2rem 
}
.service-institutions .content{
    width: 85%;
}
.service-institutions .content .title{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 145%;
    /* identical to box height, or 58px */

    letter-spacing: 0.015em;

    color: var(--primary-color);
}
.service-institutions .image img{
    width: 8.6rem;
    height: 6.4rem;
}
.service-institutions .image{
    width: 15%;
    margin: -5rem 0 0 -2rem;
}
.service-institutions .content p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 11.38px;
    line-height: 167%;
    /* or 23px */

    letter-spacing: 0.015em;

    color: var(--secondary-color);

    opacity: 0.8;
}

@media screen and (max-width : 450px) {
    .ecosystem{
        margin: 3rem 0 4rem 0;
        background-size: 80%;
        background-position : center;
    }
    .originators{
        margin-left: 3rem;
        max-width: 1240px;
        width: 50%;
        display: flex;
        background: #FBFAF9;
        box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
        border-radius: 1rem;
        padding: 1rem 0 1rem 1rem;
        /* margin-bottom: 8rem; */
    }
    .originators .image{
        width: 22%;
        margin-top: -2rem;
    }
    .originators .image img{
        width: 3rem;
        height: 3.5rem;
    }
    .originators .content .title{
        font-size: 11px;  
    }
    .originators .content p{
        margin-top : 0.5rem;
        font-size: 5.5px;
        line-height: 167%;
    }
    .btc-image{
        margin-top: 0rem;
        display: flex;
        justify-content: flex-end;
    }
    .btc-image img{
       width: 3.8rem;
       height: 3.2rem;
    }
    .middle-section{
        margin: -1rem 0 3rem 0;
    }
    .section-heading{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        background: #FBFAF9;
        box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
        border-radius: 0 88px 88px 0;
        padding: 1rem 1rem 1rem 0;
    }
    .section-heading .section-title{
        font-family: Verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        text-align: right;
    
        color: #3E4751;
    }
    .section-heading img{
        padding-left: 0;
        width: 3.6rem;
        height: 3.6rem;
    }
    
    .liquidity-providors{
        width: 50%;
        margin-right: 1rem;
        background: #FBFAF9;
        box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
        border-radius: 15px;
        padding: 0.5rem 1rem 0 1rem;
        margin-left: -0.5rem;
    }
    
    .liquidity-providors .content .title{
        font-size: 10px;
        line-height: 145%;
    }
    
    .liquidity-providors .content p{
        font-size: 5.5px;
        line-height: 167%;
    }
    
    .service-institutions{
        max-width: 1240px;
        margin: 0 0 0 8rem;
        width: 50%;
        background: #FBFAF9;
        box-shadow: -8.34734px -8.34734px 16.6947px #FFFFFF, 8.34734px 8.34734px 16.6947px rgba(62, 71, 81, 0.3);
        border-radius: 15px;
        padding: 0.5rem 0 0 1rem 
    }
    
    .service-institutions .content .title{
        font-family: Verdana;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 145%;
        /* identical to box height, or 58px */
    
        letter-spacing: 0.015em;
    
        color: #F47A1B;
    }
    
    .service-institutions .content p{
        width: 82%;
        font-family: Lucida-Grande;
        font-style: normal;
        font-weight: normal;
        font-size: 5.5px;
        line-height: 167%;
        /* or 23px */
    
        letter-spacing: 0.015em;
    
        color: #3E4751;
    
        opacity: 0.8;
        padding: 0 0 1rem 0;
    }
}