<div class="engineering-component-container" id="engineering">
    <!-- <div class="engg-with-container">
        <div class="title">
            <h1>
                ENGINEERED WITH
            </h1>
        </div>
        <div class="images-container" animateOnScroll animationName="animated fadeInRightBig">
            <a href="https://centrifuge.io" target="_blank">
                <div class="image-frame">
                    <img src="assets/images/Centrifuge.png" />
                </div>
            </a>
            <a href="https://aragon.org" target="_blank">
                <div class="image-frame">
                    <img src="assets/images/Aragon.png" />
                </div>
            </a>
            <a href="https://chain.link" target="_blank">
                <div class="image-frame">
                    <img src="assets/images/Chainlink.png" />
                </div>
            </a>
            <a href="https://www.openlaw.io" target="_blank">
                <div class="image-frame">
                    <img src="assets/images/Openlaw.png" />
                </div>
            </a>
        </div>
    </div> -->
    <div class="partners-container">
        <div class="title">
            <h1>
                Our Partners
            </h1>
        </div>
        <div class="images-container" animateOnScroll animationName="animated fadeInLeftBig">
            <a href="https://cargox.io" target="_blank">
                <div class="image-frame">
                    <!--   animated-delay-3" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="assets/images/CargoX logo.png" />
                </div>
            </a>
            <a href="https://arvaloo.com" target="_blank">
                <div class="image-frame">
                    <!--   animated-delay-2" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="assets/images/arvaloo_logo.png" />
                </div>
            </a>
            <a href="https://visesaenergy.com" target="_blank">
                <div class="image-frame">
                    <!--   animated-delay-1" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="assets/images/energy_logo.png" />
                </div>
            </a>
            <!-- <div class="image-frame">
                <img src="assets/images/seaport_logo.png" />
            </div> -->
        </div>
    </div>
</div>