<div class="engineering-component-container" id="engineering">
    <div class="engg-with-container">
        <div class="title">ENGINEERED WITH</div>
        <div class="images-container">
            <div class="image-frame hide-on-init " animateOnScroll animationName="animated fadeInRight">
                <img src="assets/images/Centrifuge.png" />
            </div>
            <div class="image-frame hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">
                <img src="assets/images/Aragon.png" />
            </div>
            <div class="image-frame hide-on-init animated-delay-2" animateOnScroll animationName="animated fadeInRight">
                <img src="assets/images/Chainlink.png" />
            </div>
            <div class="image-frame hide-on-init animated-delay-3" animateOnScroll animationName="animated fadeInRight">
                <img src="assets/images/Penlaw.png" />
            </div>
        </div>
    </div>
    <div class="partners-container">
        <div class="title">OUR PARTNERS</div>
        <div class="images-container">
            <div class="image-frame hide-on-init animated-delay-3" animateOnScroll animationName="animated fadeInLeft">
                <img src="assets/images/CargoX logo.png" />
            </div>
            <div class="image-frame hide-on-init animated-delay-2" animateOnScroll animationName="animated fadeInLeft">
                <img src="assets/images/arvaloo_logo.png" />
            </div>
            <div class="image-frame hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">
                <img src="assets/images/energy_logo.png" />
            </div>
            <div class="image-frame hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <img src="assets/images/seaport_logo.png" />
            </div>
        </div>
    </div>
</div>