.engineering-component-container{
    margin: 8rem 3rem 2rem 3rem;
}

.title h1{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-large);
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: var(--secondary-color);


    margin: 0 0 4rem 0;
}
.images-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}
.image-frame {
    background: var(--background-color);
    box-shadow : var(--box-shadow);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width: 340px;
    height : 120px;
    display: flex;
}
.image-frame img{
    width: 328px;
    height: 91px;
}

.partners-container , .images-container{
    justify-content: space-around
}

@media screen and (max-width : 450px) {
    .engineering-component-container{
        margin: 2rem 1rem;
    }
    .images-container{
        flex-direction: column;
    }
    .title h1{
        font-size: 25px;
        margin: 0;
        text-transform: uppercase;
    }
    .image-frame{
        margin: 1.2rem 0;
        width: 122px;
        height: 52px;
        border-radius: 6px;
    }
    .image-frame img{
        height: 31px;
        width: 112px;
    }
}