<div class="engineering-component-container" >
    <div class="partners-container">
        <div class="title" *ngIf="g.language === 'En'">
            <h1>
                Our Partners
            </h1>
        </div>
        <div class="title" *ngIf="g.language === 'Fr'">
            <h1>
                Nos partenaires
            </h1>
        </div>
        <div class="images-container" animateOnScroll animationName="animated fadeInLeftBig">
            <a href="https://cargox.io" target="_blank" class="card-container">
                <div class="image-frame">
                    <!--   animated-delay-3" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="../../assets/images/SVG/partners-1.png" />
                </div>
            </a>
            <a href="https://arvaloo.com" target="_blank" class="card-container">
                <div class="image-frame">
                    <!--   animated-delay-2" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="../../assets/images/SVG/partners-2.png" />
                </div>
            </a>
            <a href="https://visesaenergy.com" target="_blank" class="card-container">
                <div class="image-frame">
                    <!--   animated-delay-1" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="../../assets/images/SVG/partners-3.png" />
                </div>
            </a>
            <a href="https://visesaenergy.com" target="_blank" class="card-container">
                <div class="image-frame">
                    <!--   animated-delay-1" animateOnScroll animationName="animated fadeInLeft"> -->
                    <img src="../../assets/images/Chainlink.png" />
                </div>
            </a>
            
        </div>
    </div>
</div>

           