<div class="container">
    <app-home></app-home>

    <!-- <app-divider></app-divider> -->

    <app-legacy></app-legacy>

    <!-- <app-divider></app-divider> -->

    <app-solutions></app-solutions>

    <!-- <app-divider></app-divider> -->
    
    <app-solution-one></app-solution-one>

    <!-- <app-divider></app-divider> -->

    <app-solution-two></app-solution-two>
    
    <!-- <app-divider></app-divider> -->

    <!-- <app-ecosystem></app-ecosystem> -->

    <!-- <app-divider></app-divider> -->

    <app-engineering></app-engineering>

    <!-- <app-divider></app-divider> -->

    <app-community></app-community>

    <!-- <app-divider></app-divider> -->

    <!-- <app-wave></app-wave> -->
    <app-footer></app-footer>
    <router-outlet></router-outlet>
</div>