
<div class="about-component" id="about" #about>
    <div class="solutions-section"> 
        <div class="content">
            <div class="text">
                <span class="title">
                    A One Stop Solution
                </span>
                <span class="title-sub">
                    Breaking Silos.Smartening Trade.
                </span>
                <p class="desc">
                    <strong>Antelope DAO</strong>  is a comprehensive, integrated,
                    and cross-chain ecosystem designed to resolve
                    the problems of fragmentation and usability.
                    The platform connects stakeholders,
                    lowers barriers, and enhances access
                    by offering an end-to-end solution
                    for the globally expanding decentralized
                    trade and logistics sector. 
                </p>
            </div>
            <div class="slider">
                
            </div>
        </div>
        <div class="image">
            <img src="../../assets/images/Sailing Schedule Screen.svg" alt="">
        </div>
    </div>
</div>