@font-face {
    font-family: Lucida-Grande;
    src: url('../../assets/fonts/LucidaGrande.ttf');
}
.about-component{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 8rem 0 0 0;
    background: url('../../assets/images/solutions-background.png') no-repeat;
    background-position: right top; 
}
.solutions-section{
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 1240px;
    justify-content: space-between;
}
.image{
    width: 22%;
}
.image img{
    height: 27.5rem;
    width: 17rem;
}
.content{
    width: 65%;
}
.content .text{
    display: flex;
    flex-direction: column;
}

.text .title{
    font-style: normal;
    font-weight: normal;
    font-family: var(--primary-font);
    font-size: var(--font-x-large);
    line-height: 73px;
    /* identical to box height */
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}
.text .title-sub{
    font-style: normal;
    font-weight: normal;
    font-style: var(--primary-font);
    font-size: var(--font-medium);
    line-height: 145%;
    /* or 49px */
    margin-bottom: 0.5rem;
    letter-spacing: 0.015em;

    color: var(--primary-color);
}
.text .desc{
    font-family: var(--secondary-font);
    font-style: normal;
    /* font-weight: bold; */
    font-size: var(--font-body);
    line-height: 145%;
    /* or 26px */

    letter-spacing: 0.015em;
    color: var(--secondary-color);
    opacity: 0.8;
    padding: 0 0 1.5rem 0;
}
.slider{
    display: flex;
    justify-content: space-between;
}

.icon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 0.8rem 0.5rem
}

.icon-card img{
    height: 3rem;
    width: 8rem;
    margin: 0 0.8rem 0.2rem 0;
}

.icon-card .card-title{
    font-family:var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-x-small);
    line-height: 145%;
    /* or 20px */

    text-align: center;
    letter-spacing: 0.015em;

    color : var(--secondary-color);

    opacity: 0.2rem 1rem;
    /* padding: 0.3rem; */
}

.icon-card .card-text{
    font-family: var(--secondary-color);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-x-small);
    line-height: 130%;
    /* or 13px */

    text-align: center;
    letter-spacing: 0.04em;
    padding: 0.2rem 1rem;
    color: var(--secondary-color);

    opacity: 0.4;

}

@media screen and ( max-width : 450px ) {
    .about-component{
       background-size: 20%;
       background-position : center right;
        /* height: fit-content; */
       position: relative;
       height: fit-content;
       margin: 5rem 0 5rem 0;
    }
    .solutions-section{
        margin: 0 2rem;
        flex-wrap: wrap;
        align-items: flex-start !important;
    }
    .content{
        width: 50%;
    }
    .image{
        margin-top: 4rem;
        width: 45%;
    }
    .image img{
        width: 136.11px;
        height: 223px;
    }
    .content .text .title{
        font-size: 25px;
        line-height: 30px;
    }
    .content .text .title-sub{
        font-size: 14px;
        line-height: 145%;
    }
    .content .text .desc{
        font-size: 0.5rem;
        line-height: 145%;
        position: absolute;
        margin: 27rem 1rem 0 0;  
    }
    .icon-card{
        width: 25%;
    }
    .icon-card.card-1{
        position: absolute;
        margin: 0 0 0 0;
    }
    .icon-card.card-2{
        position: absolute;
        margin: 10rem 0 0 0;
    }
    .icon-card.card-3{
        position: absolute;
        margin: -12rem 0 0 12rem;
    }
    .icon-card.card-4{
        position: absolute;
        margin: 10rem 0 0 10rem;
    }
    .icon-card img{
        height: 1.5rem;
        width: 4rem;
        margin: 0 0.8rem 0.2rem 0;
    }
    .icon-card .card-title{
       font-size: 0.5rem;
    }
    .icon-card .card-text{
        font-size: 0.25rem;
     }
}