<div class="governance-container">
    <div class="title">
        <h1>
            Antelope Governance
        </h1>
    </div>
    <div class="title-sub">
        <h1>
            Decentralizing Governance. Resisting Censorship.
        </h1>
    </div>
    <div class="desc">
        <p>
            Devoted to the principles of decentralization, 
            the Antelope ecosystem adopts a hierarchical, two-tier, 
            and skill-based governance infrastructure comprising a 
            Technical Council and a Business Council
        </p>
        <p>
            The mechanism explores Conviction or Quadratic Voting 
            systems to effectively mitigate sybil attacks, 
            collusion, and other risk vectors that are typical 
            of time-boxed governance procedures.
        </p>
    </div>
    <div class="body">
        <div class="col col-1">
            <div class="title">
                <h1>
                    Technical Council
                </h1>
            </div>
            <div class="desc">
                <p>
                    The TC votes on matters concerning protocol 
                    upgrades, inflation adjustments, and 
                    commission parameters. Initially appointed 
                    by the Antelope DAO, subsequent applications 
                    for council membership will be subject to 
                    a two-third consensus of the ANTLP community
                </p>
            </div>
        </div>
        <div class="col col-2">
            <div class="title">
                <h1>
                    Business Council
                </h1>
            </div>
            <div class="desc">
                <p>
                    The BC is the representative body of 
                    the general ANTLP community, comprising 
                    individual users, token holders, and 
                    third-party service providers from the 
                    ecosystem. The council’s primary function 
                    is to facilitate the election of the TC
                </p>
            </div>
        </div>
    </div>
</div>