.ruler-token-container {
    margin: 8rem 3rem 8rem 3rem;

}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #3E4751;

}

.cards-container{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 0 0;
}

.card{
    width: 24%;
    /* height: 506px; */
    background: #FBFBFD;
    box-shadow: 10px 10px 20px rgba(62, 71, 81, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
}
.card .image-container{
    height: 117px;
}
.card.card-2 img{
    width: 114px;
    height: 117px;
}
.card.card-1 img{
    width: 114px;
    height: 86px;
}
.card.card-3 img{
    width: 83px;
    height: 85px;
}

.card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 145%;
    /* or 52px */

    text-align: center;
    letter-spacing: 0.015em;

    color: #FE815F;
}
.card-body p{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 145%;
    /* or 26px */

    text-align: justify;
    padding: 0 1rem 0 1rem;    
    color: #3E4751;
}
