<div class="ruler-token-container" id="ruler-token" #rulerToken>
    <div class="title">
        <span>The Antelope Ecosystem</span>
    </div>
    <div class="cards-container">
        <div class="card card-1">
            <div class="image-container">
                <img src="assets/images/trade-origin.png" alt="" class="card-icon">
            </div>
            <span class="card-title">Trade Originators</span>
            <div class="card-body">
                <p>
                    Small, medium, and large enterprises can
                    leverage the Antelope protocol to raise
                    capital for trades, borrow collateral
                    for loans, issue tokenized invoices, and 
                    access a diverse range of logistic services.
                    The platform connects enterprises with suppliers,
                    financiers, and service providers, boosting their 
                     potential for growth.
                </p>
            </div>
        </div>
        <div class="card card-2">
            <div class="image-container">
                <img src="assets/images/liquidity.svg" alt="" class="card-icon">   
            </div>
            <span class="card-title">Liquidity Providers</span>
            <div class="card-body">
                <p>
                    Yield Farmers can participate in decentralized trade 
                    financing to generate stable and short-term returns
                    by investing in assets with tangible value in the 
                    real world. Additionally, they gain access to
                    derivatives and tokenized risk exposures,
                    specially designed to suit the trade and 
                    logistics sector.

                </p>
            </div>
        </div>
        <div class="card card-3">
            <div class="image-container">
                <img src="assets/images/service.svg" alt="" class="card-icon">   
            </div>
            <span class="card-title">Service Institutions</span>
            <div class="card-body">
                <p>
                    Institutional entities and crypto-based companies can
                    offer financial and non-financial services on Antelope,
                    such as insurance and investment opportunities,
                    entitling them to promising revenue shares through 
                    transaction fees and rewards. Service Institutions
                    are essential to the ecosystem, forwarding its
                    vision and broadening its scope.  
                </p>
            </div>
        </div>
    </div>
</div>