<div class="ruler-token-container">

    <div class="content">
        <div class="intro">
            <div class="title">RULER TOKEN</div>
            <div class="description">
                <div>
                    <p>What is RULER token and what is it used for?</p>
                </div>
            </div>
        </div>

        <div class="image-cards-container">
            <div class="card hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <div class="card-image-container"><img src="assets/images/Shield.png"></div>
                <div class="card-title">
                    COMPLETELY VALUELESS
                </div>
                <div class="description">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                    </p>
                </div>
            </div>
            <div class="card hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <div class="card-image-container"><img src="assets/images/Group.png"></div>
                <div class="card-title">
                    GOVERNANCE
                </div>
                <div class="description">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut</p>
                </div>
            </div>
            <div class="card hide-on-init" animateOnScroll animationName="animated fadeInRight">
                <div class="card-image-container"><img src="assets/images/Award.png"></div>
                <div class="card-title">
                    LIQUIDITY MINING
                </div>
                <div class="description">
                    <p>amet, consectetur, adipisci velit, sed quia non numquam eius amet, consectetur, adipisci velit
                    </p>
                </div>
            </div>
            <div class="card hide-on-init" animateOnScroll animationName="animated fadeInRight">
                <div class="card-image-container"><img src="assets/images/Tool.png"></div>
                <div class="card-title">
                    CONTRIBUTOR MINING
                </div>
                <div class="description">
                    <p>quia voluptas sit aspernatur aut odit aut et dolore magna aliqua quia voluptas sit aspernatur aut
                        odit aut et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

</div>