<div class="about-container">
    <div class="section-1 section">
        <div class="image">
            <img src="../../assets/images/SVG/public&global.svg" alt="">
        </div>
        <div class="description">
            <span class="title">
                Public & Global
            </span>
            <span class="title-sub">
                Breaking Barriers. Widening Access.
            </span>
            <p class="para-1">
                Built on top of public and globally 
                accessible blockchain frameworks like 
                Ethereum and Centrifuge, Antelope lowers 
                entry barriers for SMEs and alternative investors, 
                unlike peers running on exclusive, private, 
                and permissioned networks.
            </p>
            <p class="para-2">
                Besides fostering collaboration and 
                innovation, our inclusive and community-oriented 
                business model is conducive to sustainable growth 
                and enhanced ROIs.                
            </p>
        </div>
    </div>
</div>