<div class="about-container">
    <div class="section-2 section">
        <span class="title mobile">
            Encrypted & Secure
        </span>
        <span class="title-sub mobile">
            Prioritizing Privacy. Respecting Autonomy.
        </span>
        <div class="image mobile">
            <img src="../../assets/images/SVG/encrypted&secure.png" alt="">
        </div>
        <div class="description">
            <span class="title web">
                Encrypted & Secure
            </span>
            <span class="title-sub web">
                Prioritizing Privacy. Respecting Autonomy.
            </span>
            <p class="para-1">
                Leveraging advanced homomorphic cryptography 
                and zero-knowledge proofs, Antelope prioritizes 
                the individual’s right to privacy, autonomy, and 
                choice while securing network communication and 
                retaining optimal verifiability for legitimate 
                regulatory compliance. 
            </p>
            <p class="para-2">
                Encrypted and peer-to-peer channels protect 
                sensitive business information in transit and 
                distributed storage minimizes risks concerning 
                breach and loss of data.             
            </p>
        </div>
        <div class="image web">
            <img src="../../assets/images/SVG/encrypted&secure.png" alt="">
        </div>
    </div>
</div>