<div class="community-component-container" id="community">
    <div class="join-community-container">
        <div class="join-community-left hide-on-init" animateOnScroll animationName="animated fadeInLeft">
            <div>
                <div class="community-title">
                    JOIN THE COMMUNITY
                </div>
                <div class="description">
                    Learn more about Antelope, chat with the team, others in the community, and have your say in
                    shapinig the future of global trade.
                </div>
            </div>
        </div>
        <div class="join-community-right hide-on-init" animateOnScroll animationName="animated fadeInRight">
            <!-- <div class="images-container">
                <a href="#">
                    <img src="assets/images/Linkedin.png">
                </a>
                <a href="#">
                    <img src="assets/images/Twitter.png">
                </a>
                <a href="#">
                    <img src="assets/images/Discord.png">
                </a>
                <a href="#">
                    <img src="assets/images/Reddit.png">
                </a>
                <a href="#">
                    <img src="assets/images/Telegram.png">
                </a>
                <a href="#">
                    <img src="assets/images/Youtube.png">
                </a>
            </div> -->
            <app-social-links class="social-links-wrapper" spacing="15px"></app-social-links>
        </div>
    </div>
    <div class="blogposts-container">
        <div class="title">READ OUR LATEST BLOG POST</div>
        <div class="blog-cards-container">
            <div class="card hide-on-init " animateOnScroll animationName="animated fadeInUp">
                <img src="assets/images/post-1.png" />
                <div class="blog-text">
                    <div class="blog-title">From the Ecosystem</div>
                    <div class="blog-caption">Port call Ecosystem: two sides of coin</div>
                    <div class="blog-content">There are different perspectives to look at the...</div>
                </div>
            </div>
            <div class="card hide-on-init " animateOnScroll animationName="animated fadeInUp">
                <img src="assets/images/post-2.png" />
                <div class="blog-text">
                    <div class="blog-title">From the Ecosystem</div>
                    <div class="blog-caption">Port call Ecosystem: two sides of coin</div>
                    <div class="blog-content">There are different perspectives to look at the...</div>
                </div>
            </div>
            <div class="card hide-on-init " animateOnScroll animationName="animated fadeInUp">
                <img src="assets/images/post-3.png" />
                <div class="blog-text">
                    <div class="blog-title">From the Ecosystem</div>
                    <div class="blog-caption">Port call Ecosystem: two sides of coin</div>
                    <div class="blog-content">There are different perspectives to look at the...</div>
                </div>
            </div>
        </div>
    </div>
</div>