<div class="community-component-container" id="community">
    <div class="news-letter-container">
        <div class="bell">
            <img src="../../assets/images/SVG/bell-newsletter.png" alt="">
        </div>
        <div class="content">
            <span class="title">
                Subscribe <br> to our <br> Newsletter
            </span>
                <input type="text" class="input-box" placeholder="Satoshi@btc.com">
                <button>Subscribe</button>
            <img src="../../assets/images/SVG/mail-newsletter.png" alt="" class="mail-icon">
        </div>
    </div>
</div>