@font-face {
    font-family: Lucida-Grande;
    src: url('../../assets/fonts/LucidaGrande.ttf');
}
.community-component-container{
    background: url('../../assets/images/SVG/subscribe-eclipse.svg') no-repeat;
    /* background-position: 50% 35%; */
    background-size: 100% 700px;
    height: 800px;
    width: 100%;
}
.news-letter-container{
    background: url("../../assets/images/SVG/subscribe-background.svg") no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 1200px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 0 0 6.5rem;
}
.bell{
    margin: -18rem 0 0 -9rem ;
}
.bell img{
    height: 8.4rem;
    width: 8.4rem;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .mail-icon{
    height: 9.6rem;
    width: 9.6rem;
    margin: 1rem 0 1rem 6rem;
}
.content .title{
    width: 30%;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;

    color: #3E4751;
}
.content .input-box{
    border: none;
    box-sizing: border-box;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.13), 10px 10px 20px rgba(62, 71, 81, 0.26);
    border-radius: 10px;
    filter: drop-shadow(-10px -10px 20px rgba(255, 255, 255, 0.13)), drop-shadow(10px 10px 20px rgba(62, 71, 81, 0.26));
    border-radius: 10px;
    width: 410px;
    height: 48px;
    outline: none;
    margin-right: 3rem;
    padding: 0 0 0 1rem;
}

.content .input-box::placeholder{
    text-align: left;
    color: #3e4751d3;
    padding: 0 0 0 0.5rem;
}

.content button{
    font-family: Lucida-Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 18px;
    align-items: center;
    text-align: center;
    outline: none;
    border: none;
    color: #FBFAF9;
    padding: 0.2rem 1.5rem;
    background: #F47A1B;
    border-radius: 40px;
}
.content button{
    transform: scale(1.5);
}

@media screen and (max-width : 480px) {
    .community-component-container{
        height: 200px;
        background-size: 100% 100%;
    }
    .news-letter-container{
        background-position: center center;
        background-size: contain;
        height: 100%;
        width: 220px;
        margin: auto;
        padding: 0 0 0 3rem;
    }
    .bell{
        margin: -4rem 0 0 -3.5rem;
    }
    .bell img{
        width: 22.92px;
        height: 22.92px;
    }
    .content{
        padding: 0;
    }
    .content .mail-icon{
        width: 23px;
        height: 23px;
        margin: 0 0.5rem 0 1rem;
    }
    .content .title{
       font-size: 9px;
       line-height: 140%;
    }
    .content .input-box{
        width: 90.49px;
        height: 16.89px;
        font-size: 6.0324px;
        line-height: 7px;
        border: 1px solid #F88340;
        box-sizing: border-box;
        filter: drop-shadow(-12.0648px -12.0648px 24.1296px rgba(255, 255, 255, 0.13)), drop-shadow(12.0648px 12.0648px 24.1296px rgba(62, 71, 81, 0.26));
        border-radius: 2.41296px;
        margin-right: 1rem;
    }
    
    .content .input-box::placeholder{
        font-size: 6.0324px;
        line-height: 7px;
    }
    
    .content button{
        padding: 0.2rem 0.5rem;
        font-size: 6.0324px;
        line-height: 7px;
        /* identical to box height */

        text-align: center;
    }
}