.community-component-container{
    margin: 16rem 3rem 16rem 3rem;
}

.news-letter-container{
    background: url("../../assets/images/newsletter-background.svg") no-repeat center;
    background-size: contain;
    height: 335px;
    display: flex;
    align-items: center;
    padding: 0 0 0 6.5rem;
}
.news-letter .info{
    display: flex;
    align-items: center;
}
.news-letter .info span{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical  to box height */

    text-align: center;

    color: #FFFFFF;
    margin: 0 .5rem 0 0;
}
.news-letter .button button{
    outline: none;
    border : none;   
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    padding: 1rem 6.5rem 1rem 6.5rem;
    margin: 1rem 0 0 0;
    text-align: center;

    color: #FFFFFF;

    background: #F88340;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.13), 10px 10px 20px rgba(62, 71, 81, 0.26);
    border-radius: 10px;
    transition: 0.5s;
}

.news-letter .button button:active{
    transform: scale(0.8);
}