<div class="token-container">
    <div class="title">
        <h1>
            The ANTLP Token
        </h1>
    </div>
    <div class="title-sub">
        <h1>
            Enabling Governance
        </h1>
    </div>
    <div class="desc">
        <p>
            An ERC-20 token for the Antelope ecosystem, facilitating 
            distributed governance, liquidity mining, and reward sharing. 
            ANTLP is an expression of community orientation 
            and the team receives its allocation only when 
            the protocol fulfils its promise.  
        </p>
    </div>
    <div class="button">
        <button>
            Get ANTLP
        </button>
    </div>
</div>
