.token-container{
    max-width: 1240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title h1{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-x-large);
    /* line-height: 77px; */
    /* identical to box height */

    text-align: center;

    color: var(--secondary-color);

}

.title-sub h1{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-medium);
    /* line-height: 58px; */
    /* identical to box height */

    text-align: center;

    color: var(--primary-color);
    margin: 5px 0 0 0;
}
.desc{
    width: 80%;
}
.desc p{
    font-family: var(--secondary-font);
    font-style: normal;
    /* font-weight: bold; */
    font-size: var(--font-small);
    /* line-height: 35px; */
    text-align: center;
    letter-spacing: 0.015em;

    color: var(--secondary-color);
    margin: 14px 0 0 0;
}

.button button{
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: var(--font-body);
    /* line-height: 145%; */
    /* identical to box height, or 39px */

    text-align: center;
    letter-spacing: 0.015em;

    color: var(--background-color);
    height: 45px;
    width: 200px;
    background : var(--primary-color);
    border-radius: 67.8788px;
    outline: none;
    border: none;
    transition: .5s ease;
    margin: 40px 0 0 0;
    cursor : pointer;
}

.button button:active{
    transform: scale(0.8);
}

@media screen and ( max-width : 450px) {
    .token-container{
        height: 60vh;
    }
    .title h1{
        font-size: 28px;
    }
    
    .title-sub h1{
        
        font-size: 18px;
        /* line-height: 58px; */
        /* identical to box height */
    
        text-align: center;
    
        color: var(--primary-color);
        margin: 5px 0 0 0;
    }
    .desc{
        width: 80%;
    }
    .desc p{
        font-family: var(--secondary-font);
        font-style: normal;
        /* font-weight: bold; */
        font-size: 10px;
        /* line-height: 35px; */
        text-align: justify;
        letter-spacing: 0.015em;
    
        color: var(--secondary-color);
        margin: 6px 0 0 0;
    }
    
    .button button{
        font-family: var(--secondary-font);
        font-style: normal;
        font-size: 10px;
        /* line-height: 145%; */
        /* identical to box height, or 39px */
    
        text-align: center;
        letter-spacing: 0.015em;
    
        color: var(--background-color);
        height: 25px;
        width: 110px;
        background : var(--primary-color);
        border-radius: 67.8788px;
        outline: none;
        border: none;
        transition: .5s ease;
        margin: 20px 0 0 0;
        cursor : pointer;
    }
    
    .button button:active{
        transform: scale(0.8);
    }
}