.team-component-container{
    margin: 8rem 3rem 8rem 3rem;
    display: flex;
    justify-content: center;
}
.title h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #3E4751;
    margin: 0 0 5rem 0;
}
.team-container{
    width: 1157px;
    max-height: 506px;
    display: flex;
    justify-content: space-around;
    background: #FBFBFD;
    box-shadow: 10px 10px 20px rgba(62, 71, 81, 0.3);
    padding: 5rem 0 8rem 0;
    /* border-radius: 20px; */
    margin: 0 0 8rem 0;
}
.img-outer-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 187px;
    width: 187px;
    border-radius: 50%;
    background: #FBFBFD;
    margin: 0 0 2.5rem 0;
    box-shadow: -11.6015px -11.6015px 23.203px #FFFFFF, 11.6015px 11.6015px 23.203px #F3F3F3, inset -9.28119px -9.28119px 18.5624px #FFFFFF, inset 9.28119px 9.28119px 18.5624px #E0E1E3;
}
.img-inner-circle{
    border-radius: 50%;
    height: 155px;
    width: 155px;
    background: #FBFBFD;
    box-shadow: -8.90253px -8.90253px 17.8051px #FFFFFF, 8.90253px 8.90253px 17.8051px #DADADA;
}
.team-card img{
    height: 100%;
    width: 100%;
}
.team-name,.team-position{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    
    line-height: 145%;
    /* or 44px */

    letter-spacing: 0.015em;

}

.team-name{
    font-size: 30px;
    color: #FE815F;
}

.team-position{
    font-size: 22px;
    color: #3E4751;
}


.advisors-container .title{
    margin: 0 0 8rem 0;
}
.advisors-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1157px;
    height: 408px;
    background: #FBFBFD;
    box-shadow:10px 10px 20px rgba(62, 71, 81, 0.3);
    padding: 0 6.5rem 0 6.5rem;
}
.advisor{
    display: flex;
    align-items: center;
}
.advisor-details{
    margin-left: 0.5rem;
}
.advisor .advisor-details .team-name{
    text-align: left;
}
.advisor .advisor-details .team-position{
    text-align: left;
    font-size: 20px;
}
.advisors-box img{
    height: 100%;
    width: 100%;
}
.divider{
    width: 4px;
    height: 365px;
    background-color:  #F88340;
    box-shadow: inset -10px -10px 20px #FFFFFF;
}

@media screen and (max-width : 450px) {
    
}