<div class="team-component-container" id="team">
    <div class="guild-container">
        <div class="title">
            <h1>
                THE GUILD
            </h1>
        </div>
        <div class="team-container">
                <div class="team-card">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/{{teamMembers[0].imageName}}">    
                        </div>
                    </div>
                    <div class="team-name">{{teamMembers[0].name}}</div>
                    <div class="team-position">{{teamMembers[0].position}}</div>
                </div>
            
            
                <div class="team-card">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/{{teamMembers[1].imageName}}">  
                        </div>
                    </div>
                    <div class="team-name">{{teamMembers[1].name}}</div>
                    <div class="team-position">{{teamMembers[1].position}}</div>
                </div>
                <div class="team-card">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/{{teamMembers[2].imageName}}">
                        </div>
                    </div>
                    <div class="team-name">{{teamMembers[2].name}}</div>
                    <div class="team-position">{{teamMembers[2].position}}</div>
                </div>
            
                <div class="team-card">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/{{teamMembers[3].imageName}}">   
                        </div>
                    </div>
                    <div class="team-name">{{teamMembers[3].name}}</div>
                    <div class="team-position">{{teamMembers[3].position}}</div>
                </div>
    </div>
    <div class="advisors-container">
        <div class="title">
            <h1>
                ADVISORS
            </h1>
        </div>
        <div class="advisors-box">
                <div class="advisor">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/laurent.png">   
                        </div>
                    </div>
                    <div class="advisor-details">
                        <div class="team-name">Laurent Fedi</div>
                        <div class="team-position">Senior Legal Advisor</div>
                        <div class="team-position">International Maritime Law</div>
                    </div>
                </div>
                <div class="divider">
                    
                </div>
                <div class="advisor">
                    <div class="img-outer-circle">
                        <div class="img-inner-circle">
                            <img src="assets/images/rajsekhar1.png">  
                        </div>
                    </div>
                    <div class="image-container">
                    </div>
                    <div class="advisor-details">
                        <div class="team-name">Raj  Sekhar</div>
                        <div class="team-position">Sustainable Energy</div>
                        <div class="team-position">Supply Chain Advisor</div>
                    </div>
                </div>
        </div>
    </div>
</div>