<div class="team-container">
    <div class="title">
        <h1>
            The Guild
        </h1>
    </div>
    <div class="title-sub">
        <h1>
            Passionate Team. Innovative Ideas.
        </h1>
    </div>
    <div class="image-cards">
        <div class="image-row">
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-1.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Ravi kombathula
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        CEO
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A Naval Architect with experience in 
                        vessel and time chartering, alongside 
                        expertise in import-export and blockchain 
                        services.
                    </p>
                </div>
            </div>
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-2.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Dheeraj Kumar
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        Co-Founder & Business Developer
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A software industry expert with the 
                        hands-on experience of managing CITI’s 
                        core trading and banking app. 
                    </p>
                </div>
            </div>
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-3.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Chakradhar
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        Chakradhar
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A blockchain product manager with four years’ 
                        experience in crypto and the distinction of 
                        managing trade deals worth $10 million.
                    </p>
                </div>
            </div>
        </div>
        <div class="image-row">
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-1.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Edward Ryall
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        CFO
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        An experienced start-up mentor 
                        with the background of founding 
                        Ryall Energy and serving as the 
                        CEO of AVE
                    </p>
                </div>
            </div>
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-2.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Ruben Rodrigues
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        CTO
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        An expert programmer with 
                        the all-round experience 
                        of managing blockchain projects 
                        from ideation to architecture development, 
                        through coding. 
                    </p>
                </div>
            </div>
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-3.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Elisa Merdy
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        Director (French Office)
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A digital marketing expert with a distinguished 
                        experience of fundraising for a South African NGO.
                    </p>
                </div>
            </div>
        </div>
        <div class="image-row">
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-1.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Walid Rebii
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        Marketing Officer
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A multifaceted marketer with in-depth experience 
                        in product launch, especially concerning the FMCG sector.
                    </p>
                </div>
            </div>
            <div class="image-card">
                <div class="image-outer">
                    <img src="../../assets/images/SVG/dummy-profile-2.png" alt="">
                </div>
                <div class="card-title">
                    <h1>
                        Tushar Bansal
                    </h1>
                </div>
                <div class="card-sub">
                    <h1>
                        Blockchain Developer
                    </h1>
                </div>
                <div class="card-desc">
                    <p>
                        A full-stack blockchain developer with an 
                        expertise in Ethereum, Solidity, and MERN Stack.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>