.team-container{
    max-width : 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #3E4751;
}
.title-sub{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;

    color: #FE815F;
}
.image-row{
    padding: 4rem 0 4rem 0;
    display: flex;
    justify-content: space-between;
}
.image-row:nth-child(3){
    justify-content: space-around;
}
.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 10% 0 0 0;
    padding: 0 55px 37px 55px;
}
.image-card .image-outer{
    width: 256.39px;
    height: 256.39px;
    background: var(--background-color);
    box-shadow: var(--box-shadow-neo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30% 0 0 0;
}
.image-card .image-outer img{
    height: 213px;
    width: 213px;
    border-radius: 50%;
}
.card-title h1{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;

    color: #3F4852;
    margin: 41px 0 18px 0;
}
.card-sub h1{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: rgba(63, 72, 82, 0.6);
    margin: 0 0 34px 0;

}
.card-desc p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 21.3661px;
    line-height: 31px;
    text-align: justify;
    letter-spacing: 0.015em;

    color: #3E4751;
}
@media screen and (max-width : 450px){
    
}