<div class="team-component-container" id="team">
    <div class="guild-container">
        <div class="title">THE GUILD</div>
        <div class="carousel-container">
            <carousel class="orange-shadow" [width]=carouselWidth [height]=300 [autoplayInterval]=5000 [cellWidth]=200  [margin]=30 [loop]=true [arrows]=true >
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[0].imageName}}">
                        <div class="team-name">{{teamMembers[0].name}}</div>
                        <div class="team-position">{{teamMembers[0].position}}</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[1].imageName}}">
                        <div class="team-name">{{teamMembers[1].name}}</div>
                        <div class="team-position">{{teamMembers[1].position}}</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[2].imageName}}">
                        <div class="team-name">{{teamMembers[2].name}}</div>
                        <div class="team-position">{{teamMembers[2].position}}</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[3].imageName}}">
                        <div class="team-name">{{teamMembers[3].name}}</div>
                        <div class="team-position">{{teamMembers[3].position}}</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[4].imageName}}">
                        <div class="team-name">{{teamMembers[4].name}}</div>
                        <div class="team-position">{{teamMembers[4].position}}</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="team-card">
                        <img src="assets/images/{{teamMembers[5].imageName}}">
                        <div class="team-name">{{teamMembers[5].name}}</div>
                        <div class="team-position">{{teamMembers[5].position}}</div>
                    </div>
                </div>
            </carousel>
        </div>
    </div>
    <div class="advisors-container">
        <div class="title">ADVISORS</div>
        <div class="advisors-box">
            <div class="orange-shadow">
                <div class="advisor-left">
                    <div class="image-container">
                        <img src="assets/images/laurent.png">
                    </div>
                    <div class="advisor-details">
                        <div class="team-name">Laurent Fedi</div>
                        <div class="team-position">Senior Legal Advisor</div>
                        <div class="team-position">International Maritime Law</div>
                    </div>
                </div>
                <div class="advisor-right">
                    <div class="image-container">
                        <img src="assets/images/rajsekhar1.png">
                    </div>
                    <div class="advisor-details">
                        <div class="team-name">Raj  Sekhar</div>
                        <div class="team-position">Sustainable Energy</div>
                        <div class="team-position">Supply Chain Advisor</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>